@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4 text-center">Welcome</h1>
   

<div class="container d-flex flex-column justify-content-center gap-3">
<a class="btn btn-primary" asp-controller="Home" asp-action="TotVerbali">Totale verbali per trasgressore</a>
<a class="btn btn-primary" asp-controller="Home" asp-action="TotPuntiDecurtati">Totale punti decurtati per trasgressore</a>
<a class="btn btn-primary" asp-controller="Home" asp-action="SuperDieciPunti">Verbali oltre 10 punti decurtati</a>
<a class="btn btn-primary" asp-controller="Home" asp-action="VerbaliCostosi">Verbali oltre 400 euro di importo</a>
</div>