@model TotPuntiDecurtatiViewModel

@{
	ViewData["Title"] = "Totale punti decurtati";
}

@if (Model.TotPuntiDecurtati != null && Model.TotPuntiDecurtati.Any())
{
	<div class="container d-flex justify-content-center">
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Cognome</th>
					<th>Totale punti decurtati</th>
				</tr>
			</thead>
			@foreach (var element in Model.TotPuntiDecurtati)
			{
				<tr>
					<td>@element.Nome</td>
					<td>@element.Cognome</td>
					<td>@element.NumeroPuntiDecurtati</td>
				</tr>
			}
		</table>
	</div>
}
else
{
	<p class="text-danger">La tabella è vuota.</p>
}